<?xml version="1.0" encoding="UTF-8"?>

<suite name="May2024POMSeries_Practice" verbose="3" parallel="tests"
	thread-count="5">


	<test name="LoginPageTest">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.qa.opencart.practice.tests.LoginPageTest" />
		</classes>
	</test>

	<test name="AccountsPageTest">
		<parameter name="browser" value="edge" />
		<classes>
			<class name="com.qa.opencart.practice.tests.AccountsPageTest" />
		</classes>


	</test>
	<test name="RegisterPageTest">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.qa.opencart.practice.tests.RegisterPageTest" />
		</classes>
	</test>

	<test name="ProductInfoPageTest">
		<parameter name="browser" value="edge" />
		<classes>
			<class name="com.qa.opencart.practice.tests.ProductInfoPageTest" />
		</classes>
	</test>
</suite>